root{
    display: inline-block;
}
body{
    background-color: black;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}
h3{
    margin: 0px;
}
p{
    text-indent: 2em;
}
#page{
    margin: 40px 30px;
    padding: 40px 20px;
    min-width: 500px;
    min-height: 400px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), inset 0 0 40px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
#photo{
    margin: 20px;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    box-shadow: -5px 5px 15px rgb(0, 0, 0);
}
#aboutMe{
    float: right;
    text-align: right;
}
.spoiler{
    margin: 10px;
    border: solid black 2px;
    border-radius: 0 0 3px 3px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}
.title{
    margin: 0;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}
.title:after{
    background-image: url("arrow.png");
    background-position-y: 20px;
    content: "";
    height: 20px;
    width: 20px;
    float: right;
    margin-top: -21px;
}
.title:hover{
    color: #FF7F50;
}
.title:hover:after{
    background-position-x: 20px;
}
.titleShow:after{
    background-position-y: 0;
}
.content{
    display: none;
    padding: 10px;
    text-align: justify;
}